<svg [class]="{favorite: this.favorite}" id='Love_48' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='48' height='48' stroke='none' fill='#000000' opacity='0'/>


    <g transform="matrix(1 0 0 1 24 24)" >
    <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill-rule: nonzero; opacity: 1;" transform=" translate(-24, -24)" d="M 34 6 C 29.823999999999998 6 26.148 8.137 24 11.372 C 21.851 8.137 18.176 6 14 6 C 7.373 6 2 11.373 2 18 C 2 29.942999999999998 24 42 24 42 C 24 42 46 30.045 46 18 C 46 11.373 40.627 6 34 6" stroke-linecap="round" />
    </g>
    </svg>