@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@font-face{
    font-family: "Dragon";
    src: url(/Saiyan-Sans.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Itim;
}

body{
    background: url(/bg_img.png) center top / cover no-repeat;
    padding: 50px 3px 10px 3px;
}
body.no_global_styles{
        padding: 0;
    }

ul{
    list-style: none;
}

@media(min-width: 750px){
    body{
        padding: 100px 10px;
    }
    body.no_global_styles{
        padding: 0;
    }
}